<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">


   <bean class="in.gm.beans.Student" id="std">
   
  <!--   <constructor-arg value="70"/>
   <constructor-arg value="16"/>
   <constructor-arg value="Gourav" index="0"/>
   -->
   <constructor-arg value="70" type="float"/>
   <constructor-arg value="16" type="int"/>
   <constructor-arg value="Gourav" />
   
   </bean>

</beans>