<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--    <bean class="in.gm.beans.Student" id="std" factory-method="factorymeth">
    
    </bean> -->
    <bean id="config" class="in.gm.beans.config" />
    <bean class="in.gm.beans.Student" id="std" factory-bean="config" factory-method="createBean">
    
    </bean>
    
    
</beans>